LANHU_COOKIE=
DDS_COOKIE=
FIGMA_TOKEN=
FIGMA_OAUTH_TOKEN=
FIGMA_ASSET_SCALE=1
FIGMA_EXPORT_FORMAT=png
UNITY_TMP_FONT_ASSET_GUID=
UNITY_TMP_FONT_ASSET_MAP_JSON=
UNITY_TMP_FONT_ASSET_MAP_PATH=
DATA_DIR=./data
HTTP_TIMEOUT=30
SERVER_HOST=127.0.0.1
SERVER_PORT=8125
MCP_TRANSPORT=http
DEFAULT_IMAGE_SCALE=2x
MAX_NODES_PER_RESPONSE=200
DEBUG=false
